//Dasboard


//Balance block
.balance_block {
  margin: 30px 0px 20px 0px;
  padding: 15px;
  width: 90%;
  background: #col[s_bg];
  border-radius: 10px;
}

.balance {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: bold;
  color: #col[txt_base];

  &.second {
    color: #col[txt_s]
  }

  &.lil_size {
    font-size: 32px;
  }
}

.balance_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #col[base_button_bg];
  color: #col[base_button_color];
  border-radius: 5px;
  padding: 5px;

  img {
    height: 25px;
    width: 25px;
  }

  p {
    margin-bottom: 0;
    font-weight: bold;
  }
}

//Game button block
.game_block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
  padding: 20px 0px 20px 0px;
  width: 90%;
  border-radius: 10px;
}

.game_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 20%;
  min-width: 70%;
  background-color: #col[base_button_bg];
  color: #col[base_button_color];
  border-radius: 5px;
  padding: 5px;

  p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 42px;
  }
}

//Description block
.description_block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px 20px 0px;
  padding: 15px;
  width: 90%;
  background: #col[s_bg];
  border-radius: 10px;

  img {
    margin: 10px;
    height: 80px;
    width: 80px;
  }

  h1 {
    margin-bottom: 10px;
    color: #col[h1_color];
    font-weight: bold;
    font-size: 24px;
  }

  p {
    color: #col[txt_base];
    font-size: 18px;
  }
}